.make-pirchase {
    /* margin-top: 15%; */
    height: auto;
    width: auto;
    text-align: center;
    padding-top: 2%;
  }
  .make-purchase-modal-outside{
    min-height: 300px;
    height: 32vh;
    margin-top: 30vh;
    margin-bottom: 40vh;
    margin-right: 35%;
    margin-left: 35%;
  }